.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f5f5f5;
}

/* Estilo do formulário */
.exercise-form {
  background: #fff;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 400px;
}

.exercise-form div {
  margin-bottom: 15px;
}

.exercise-form label {
  margin-right: 10px;
  font-weight: bold;
}

.exercise-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 22px); /* Ajustar o padding */
}

.exercise-form .add-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.exercise-form .add-button:hover {
  background-color: #218838;
}

/* Estilo da lista de exercícios */
.exercise-list {
  margin: 20px auto;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.exercise-list h2 {
  margin-bottom: 20px;
  color: #333;
}

.exercise-list ul {
  list-style: none;
  padding: 0;
}

.exercise-list .exercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.exercise-list .exercise-item:last-child {
  border-bottom: none;
}

.exercise-list .remove-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.exercise-list .remove-button:hover {
  background-color: #c82333;
}

/* Responsividade */
@media (max-width: 768px) {
  .exercise-form, .exercise-list {
    max-width: 90%;
    padding: 10px;
  }

  .exercise-form input {
    width: calc(100% - 22px); /* Ajustar o padding */
  }
}
